<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>{% block head_title %}Ingredients{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'analysisproducts/bootstrap/bootstrap.min.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/da6680d122.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'analysisproducts/css/blog-post.css' %}" media="screen">
    <style>
        img{
            position: center;
            width:100%;
        }
    </style>
</head>

<body>
    <!-- {% include 'analysisproducts/navbar.html' %} -->
    
  
    <img src="{% static 'analysisproducts/images/제품 설명.png' %}">

    <!-- {% include 'analysisproducts/footer.html' %} -->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>

