<!DOCTYPE html>
<html>
    {%load static%}
</html>
<html lang="en">
<head>
    
    <title>{% block head_title%}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/1051c2b565.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- S : 푸터 -->
<footer id="footer">
    <div id="footerInner">
        <div class="section02">
            <div class="section area">
                <div class="link">
                    <a href="../07_sub/04_sub.html">회사소개 </a>
                    <a href="../07_sub/04_sub.html">이용약관 </a>
                    <a href="../07_sub/04_sub.html">개인정보처리방침 </a>
                    <a href="../07_sub/04_sub.html">입점/제휴문의 </a>
                    <a href="../07_sub/05_sub.html">대량구매문의 </a>
                    <a href="../01_sub/05_sub.html">오시는 길</a>
                    <a href="../07_sub/04_sub.html">매장안내 </a>
                    <a href="../07_sub/04_sub.html">임직원인증 </a>
                    
                </div>
                
                <div class="icon">
                <a href="https://www.instagram.com/knu_cse_pr/" target="_blank"><img src="../img/include/instagram.png"/></a>
                    <a href="https://www.facebook.com/CSEatKNU/" target="_blank"><img src="../img/include/facebook.png"/></a>
                    
                    
                </div>
                
                
                
                
          </div>
        </div>
        <div class="section03">
            <div class="section area">
                <p class="address">(주) GETIT<br />
대표이사 : 이정원 | 대구광역시 북구 경대로 겟잇빌딩 TRUST IT | 호스팅 사업자 : GET-IT 시스템 | 사업자등록번호 : 01234567890 <br />
TEL. 053-950-5550/6370&nbsp;&nbsp;&nbsp;FAX. 053-957-4846&nbsp;&nbsp;&nbsp;E-mail. trust_it@geiit.com<br/>
                Copyright 2022 GET-IT TRUST-IT All rights reserved</p>
                <p class="select">
                
                
                <aside class="familysite-box">
                        <a href="" class="family-open-btn">관련연구소<i class="material-icons">&#xE313;</i></a>
                        <ul class="family-list">
                            <li><a href="#" target="_blank" title="새창으로열기">물티슈성분연구소</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">크림성분연구소</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">아기음식연구소</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">임신부용품연구소</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">보습성분연구소</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">화장품기술연구소</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">세제성분연구소</a></li>
                            
                        </ul>
                        
                        
                    </aside>
                
                    <aside class="familysite-box">
                        <a href="" class="family-open-btn">바로가기<i class="material-icons">&#xE313;</i></a>
                        <ul class="family-list">
                            <li><a href="#" target="_blank" title="새창으로열기">성분분석사업단</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">빨래사업단</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">설거지사업단</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">청소사업단</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">향기사업단</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">아기보습사업단</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">아기씻기사업단</a></li>
                            <li><a href="#" target="_blank" title="새창으로열기">물티슈사업단</a></li>
                        </ul>
                        
                        
                    </aside>
                    
                    
                </p>
            </div>
        </div>
    </div>
    
    
       
</footer>

<!-- E : 푸터 -->  
<!-- E : 푸터 --> 
</body>
</html>