{% extends 'communication/base.html' %}  
{% block main_area %} 
    <head>
        <style>
            table {
              width: 100%;
              border-top: 1px solid #444444;
              border-collapse: collapse;
            }
            th, td {
              border-bottom: 1px solid #444444;
              padding: 10px;
            }
            #post_title{
                color:#7B7473;
                text-decoration:none;
            }
            #post_title:visited {
                color : black;
                text-decoration: none;
              }
            #post_title:hover {
                color : red;
                text-decoration: underline;
              }
            #post_title:active {
                color : green;
                text-decoration: none;
              }
          </style>
    </head>
    {%if user.is_authenticated%}
        {%if user.is_superuser or user.is_staff%}
            <a class="btn btn-info btn-sm float-right" role="button" href="/communication/create_post/" style="background-color:yellow; border:5px,black;">
                <i class="fas fa-pen"></i>&nbsp;&nbsp;새 글 작성하기</a>
        {%endif%}
    {%endif%}
        <h1>Communication
            {% if search_info %}<small class="text-muted">{{ search_info }}</small>{%endif%}
            {% if category %} <span class="badge bg-secondary">{{category}}</span>{%endif%}
            {% if tag %}<i class="fas fa-tags"></i> <span class="badge rounded-pill bg-primary">{{tag}}</span>{%endif%}</h1>
            {% if post_list %}
            <br>
            <table>
                <thead>
                    <tr class="text-center">
                        <th class="number" style="width:50px;" >번호</th>
                        <th style="width:200px">제목</th>
                        <th style="width:50px">작성자</th>
                        <th style="width:200px">작성일</th>
                        <th style="width:100px">태그</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in post_list %}
                <!-- Blog Post -->
                <tr class="text-center">
                    <td>{{ p.id }}</td>
                    <td><a id="post_title" href="{{ p.get_absolute_url }}">{{ p.title }}</a></td>
                    <td>{{ p.author }}</td>
                    <td>{{ p.created_at }}</td>
                    <td>{% if p.tags.exists %}
                            <i class="fas fa-tags"></i>
                            {% for tag in p.tags.iterator %}
                                <a href="{{tag.get_absoulte_url}}">
                                    <span class="badge rounded-pill bg-primary">
                                        {{tag}}
                                    </span>
                                </a>
                            {% endfor %}
                        {% else %} none
                        {% endif %}</td>
                </tr>
                {% comment %} <div class="card mb-4" id="post-{{p.pk}}">
                    {% if p.head_image %}
                    <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image" /></a>
                    {% else %}
                    <img class = "card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">
                    {% endif %}
                    <div class="card-body">
                        {% if p.category %}
                        <span class="badge badge-secondary float-right">{{p.category}}</span>
                        {% else %}
                        <span class = "badge badge-secondary float-right">미분류</span>
                        {% endif %}
                        <h2 class="card-title">{{ p.title }}</h2>
                        {% if p.hook_text %}
                            <h5 class="text-muted">{{ p.hook_text }}</h5>
                        {% endif %}
                        <p class="card-text">{{ p.content | truncatewords:45 }}</p>
                        {% if p.tags.exists %}
                            <i class="fas fa-tags"></i>
                            {% for tag in p.tags.iterator %}
                                <a href="{{tag.get_absoulte_url}}">
                                    <span class="badge rounded-pill bg-primary">
                                        {{tag}}
                                    </span>
                                </a>
                            {% endfor %}
                            <br><br>
                        {% endif %}
                        <a href = "{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ p.created_at }} by
                        <a href = "#">{{p.author | upper}}</a>
                    </div>
                </div> {% endcomment %}
                {% endfor %}
            </tbody>
        </table>
            {% else %}
                <br><h3>아직 게시물이 없습니다</h3>
            {% endif %}
            {% if is_paginated %}
            <br><br>
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <!--최근 근 존재 o : Newer 버튼 활성화 -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr; 이전 </a>
                    </li>
                <!--최근 근 존재 x : Newer 버튼 비활성화 -->
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&larr; 이전 </a>
                    </li>
            {% endif %}

                <!--오래된 글 존재 o : Older 버튼 활성화-->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음 &rarr;</a>
                    </li>
                <!--오래된 글 존재 x : Older 버튼 비활성화-->
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&larr; 다음 &rarr;</a>
                    </li>
                {% endif %}

            </ul>
            {% endif %}
{% endblock %}