<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  
    <title>Trust-it</title>
    <style>
      .caption {
        position:absolute;
        top:200px;
        width:500px;
        height:500px;
        background: rgba(44, 40, 40, 0.6);
        opacity: 0;
       
        /* margin-top:175px; */
        transition: all 0.6s ease-in-out;
        z-index:10;
      }
      .im{
        float:left;
        overflow:hidden;
        position: relative;
      }
      .caption:hover {
        opacity:1;  
        transform: translateY(-30px);
      }
      .caption h4, p{
         color:white;
        text-align: center;
        margin-top:175px;
      }

    </style>
    <script language = "javascript">
      var imgArray = new Array();
      imgArray[0] = "https://thumb.photo-ac.com/a7/a72bf8e74ba29c2d0a57c6ca4ac15dad_t.jpeg";
      imgArray[1] = "https://downloadwap.com/thumbs2/wallpapers/p2ls/2019/love-romance/51/1ba6256a13397932.jpg";
      imgArray[2] = "https://t1.daumcdn.net/cfile/tistory/99486F3B5A72A3C008"
      imgArray[3] = "https://cdn.pixabay.com/photo/2020/12/09/04/00/baby-5816350_960_720.jpg";
      imgArray[4] = "https://kizmom.hankyung.com/pdsdata/model/KIZMOM_20170424090453.jpg";
      
      function showImage(){
        var imgNum = Math.round(Math.random()*4);
        var objImg = document.getElementById("introImg");
        objImg.src = imgArray[imgNum];
      }
    </script>
</head>
<!-- {% comment %} <body>
    <h1>Trust-it</h1>
</body> {% endcomment %} -->
<body onload = "showImage()">
<main>
    {% include 'main/navbar.html' %}

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
       
        <div class="col-lg-6 col-md-9 mx-auto">
          <img id = "introImg" class="im" width="500px" height="500px">
            <div class="caption">
              <h4>아이들을 위한 서비스</h4>
              <br>
              <p font-size="11px">아이와 부모, 보육인 모두가 행복한 세상이 되도록</p>
              <p font-size="11px">Trust It이 함께 하겠습니다.</p>
            </div>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
  {% include 'main/footer.html' %}
</body>
  
</html>