<!DOCTYPE html>
<html>
    {%load static%}
</html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <title>notification</title>
</head>
<body>
    <h1>notification</h1>

    <table>
        <thead>
            <tr class="text-center">
                <th>번호</th>
                <th>제목</th>
                <th>출처</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% if notice_list %} -->
            {% for p in notice_list %}
            <tr class="text-center">
                <td>{{ p.id }}</td>
                <td>{{ p.title }}</td>
                <td>{{ p.from }}</td>
                <td>{{ p.created_at }}</td>
            </tr>
            {% endfor %}
            <!-- {% else %}
            <tr class="text-center">
                <td colspan="5">
                    작성된 게시글이 없습니다.
                </td>
            </tr>
            {% endif %} -->
        </tbody>
    </table>
</body>
</html>