<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  
    <title>notification</title>
</head>
<body>
    <h1>notification</h1>
    {% for p in posts %}
    <!-- <div class="container">
        <div class="row">
          <div class="col">
            <h3>{{ p.title }}</h3>
          </div>
          <div class="col order-5">
            <h5>{{ p.content }}</h5>
          </div>
          <div class="col order-1">
            <h4>{{ p.created_at }}</h4>
          </div>
        </div>
      </div> -->
    <!-- <thead>
        <tr>
            <th></th>
        </tr>
    </thead> -->

    {% endfor %}
</body>
</html>